/node_modules
/public/hot
/public/event/*
/public/banner
/public/temp
/public/storage
/public/phantomJs/*
/public/Akce a zabava - cislo 2_web.pdf
/public/Akce zabava - cislo 3_web.pdf
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
